{% extends "foundation/base.html" %}

{% block base_body %}

<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h1>Upload</h1>
        </div>
    </div>
</div>
<div class="row">
    {% include "nav.html" %}
    <div class="large-9 columns">
        <div class="panel">
            <p>We have included some helpful built-in functions to help you compose your news story. Here are some examples:</p>

            <p>
            Current date: print time.strftime("%d/%m/%Y")<br>
            Current time: print time.strftime("%H:%M:%S")
            </p>
        
            <p>Be sure to surround these commands with square brackets. For example: [print time.strftime("%d/%m/%Y")]</p>

            <p>The commands functionality is not 100% complete and working. Please send any bugs to admin@localhost.com</p>
            <form action="{% url 'prob.views.upload' %}" method="POST">
                {% csrf_token %}
                <textarea name="story"></textarea>
                <input type="submit" value="Submit new story">
            </form>
        </div>
    </div>
</div>
<footer class="row">
    <div class="large-12 columns">
        <hr/>
        <div class="row">
            <div class="large-5 columns">
                <p>© Copyright no one at all.</p>
            </div>
        </div>
    </div>
</footer>

{% endblock %}
